<launch>
  <!-- Use simulation time -->
  <param name="use_sim_time" value="true" />

  <!-- Load the map -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(find pathplanner)/maps/map.yaml" />

  <!-- Launch Global Planner -->
  <node name="global_planner" pkg="pathplanner" type="global_planner.py" output="screen" />
</launch>

